<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Assemblyline</title>
  <link rel="stylesheet" href="css/normalize.min.css">
  <link rel="stylesheet" href="css/markdown.css">
  <style>
    body {
      margin: 0;
    }

    .logo {
      width: 70%;
      margin: 1% 2%;
      max-width: 30em;
    }

    .logo path {
      fill:#ffffff;
      fill-opacity:1;
    }

    #header {
      background: #607D8B;
    }
    article {
      margin: 2em;
      max-width: 800px;
    }
  </style>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
  <![endif]-->
</head>
<body>
  <div id="header">
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   class="logo"
   viewBox="0 0 90 20"
   version="1.1">
     <path d="m 9.8112917,13.546283 0.8616613,2.031979 1.620439,0 -3.935351,-9.0024382 -1.5561356,0 -3.9739332,9.0024382 1.5818569,0 0.8616619,-2.031979 4.5398007,0 z m -0.5787281,-1.350366 -3.3952051,0 1.6976025,-3.9996544 1.6976026,3.9996544 z" />
     <path d="m 15.447863,8.6721058 c -1.311784,0 -2.520683,0.591589 -2.520683,1.9805362 -0.01286,2.46924 3.588114,1.684742 3.588114,3.08655 0,0.514425 -0.488703,0.733056 -1.118874,0.733056 -0.745916,0 -1.697603,-0.321516 -2.289191,-0.848801 l -0.527286,1.054571 c 0.681613,0.61731 1.749045,0.951686 2.752174,0.951686 1.376087,0 2.623567,-0.63017 2.623567,-2.031979 0.01286,-2.4821 -3.626696,-1.800487 -3.626696,-3.060828 0,-0.488704 0.424401,-0.6816142 1.003129,-0.6816142 0.604449,0 1.363226,0.2314922 1.967676,0.6044502 l 0.540146,-1.0931532 c -0.61731,-0.437262 -1.530415,-0.694474 -2.392076,-0.694474 z" />
     <path d="m 21.501399,8.6721058 c -1.311784,0 -2.520683,0.591589 -2.520683,1.9805362 -0.01286,2.46924 3.588115,1.684742 3.588115,3.08655 0,0.514425 -0.488704,0.733056 -1.118875,0.733056 -0.745916,0 -1.697602,-0.321516 -2.289191,-0.848801 l -0.527286,1.054571 c 0.681614,0.61731 1.749046,0.951686 2.752174,0.951686 1.376087,0 2.623568,-0.63017 2.623568,-2.031979 0.01286,-2.4821 -3.626696,-1.800487 -3.626696,-3.060828 0,-0.488704 0.4244,-0.6816142 1.003128,-0.6816142 0.60445,0 1.363227,0.2314922 1.967676,0.6044502 l 0.540146,-1.0931532 c -0.61731,-0.437262 -1.530414,-0.694474 -2.392076,-0.694474 z" />
     <path d="m 28.326573,8.6849668 c -2.031979,0.01286 -3.459508,1.4146682 -3.459508,3.4852292 0,2.0577 1.388947,3.459508 3.49809,3.459508 1.183177,0 2.160585,-0.4244 2.829337,-1.157456 l -0.784498,-0.835941 c -0.501564,0.514425 -1.183177,0.797359 -1.929094,0.797359 -1.080292,0 -1.890512,-0.655892 -2.122003,-1.710463 l 5.169972,0 C 31.708917,10.253963 30.73151,8.6849668 28.326573,8.6849668 Z M 26.333176,11.64291 c 0.167188,-1.093153 0.925965,-1.7747662 2.006257,-1.7747662 1.118875,0 1.851931,0.6687532 1.903373,1.7747662 l -3.90963,0 z" />
     <path d="m 41.99601,8.6849668 c -1.24748,0 -2.160585,0.501564 -2.597846,1.6461602 -0.321516,-1.0417112 -1.157456,-1.6461602 -2.379216,-1.6461602 -1.131735,0 -2.006257,0.41154 -2.4821,1.3760862 l 0,-1.3246442 -1.466112,0 0,6.8418532 1.466112,0 0,-3.382345 c 0,-1.196038 0.720195,-2.096282 1.903372,-2.134864 1.003129,0 1.607578,0.630171 1.607578,1.671882 l 0,3.845327 1.478972,0 0,-3.382345 c 0,-1.196038 0.707335,-2.096282 1.877651,-2.134864 1.003129,0 1.620439,0.630171 1.620439,1.671882 l 0,3.845327 1.478972,0 0,-4.256867 c 0,-1.6333002 -0.938826,-2.6364282 -2.507822,-2.6364282 z" />
     <path d="m 50.419318,8.6849668 c -1.067431,0 -1.890511,0.437261 -2.392076,1.23462 l 0,-3.8839092 -1.478972,0 0,9.5425844 1.478972,0 0,-1.183178 c 0.501565,0.797359 1.324645,1.23462 2.417798,1.23462 1.954815,0 3.240877,-1.401808 3.240877,-3.446647 0,-2.083422 -1.324644,-3.4980902 -3.266599,-3.4980902 z m -0.308655,5.6843962 c -1.221759,0 -2.083421,-0.913104 -2.083421,-2.237749 0,-1.286062 0.861662,-2.2120272 2.083421,-2.2120272 1.22176,0 2.083422,0.9388252 2.083422,2.2120272 0,1.311784 -0.861662,2.237749 -2.083422,2.237749 z" />
     <path d="m 56.768449,15.578262 0,-9.5425844 -1.478972,0 0,9.5425844 1.478972,0 z" />
     <path d="m 64.818193,8.7364088 -1.478971,0 -1.903373,5.1828322 -2.044839,-5.1828322 -1.530415,0 2.829338,6.7389682 -0.231491,0.514425 c -0.231492,0.514425 -0.591589,0.758777 -1.041711,0.758777 -0.308655,0 -0.565868,-0.102885 -0.887383,-0.334377 l -0.630171,1.144596 c 0.475843,0.398679 0.964547,0.578728 1.581857,0.578728 1.02885,0 1.800488,-0.540146 2.224888,-1.620439 l 3.112271,-7.7806782 z" />
     <path d="m 66.874621,2.5342266 c -0.674303,0.00135 -1.275247,0.4642748 -1.513672,0.8300781 -0.376692,0.644855 -0.244382,1.3614139 0.398437,1.9960937 0.126521,0.1161575 0.151502,0.2613121 0.158203,0.4394532 l 0,0.2363281 -0.0039,0 0,9.5429693 1.480469,0 c -9.99e-4,-3.013641 0.0041,-6.3608272 0.0039,-9.0917974 0.01656,-0.2667145 0.12532,-0.5055587 0.394531,-0.6269532 0.314298,-0.1244244 0.593987,-0.360991 0.767579,-0.6523437 0.282535,-0.4811822 0.246691,-1.3509558 -0.230469,-1.9257813 l -0.71875,1.2226563 c 0,0 -0.34019,0.216468 -0.75,-0.029297 -0.410354,-0.2709101 -0.390625,-0.705078 -0.390625,-0.705078 l 0.699218,-1.2070313 c -0.09839,-0.020219 -0.198594,-0.029513 -0.294921,-0.029297 z" />
     <path d="m 70.376199,5.8813501 c -0.488704,0 -0.861662,0.3729581 -0.861662,0.9002437 0,0.514425 0.372958,0.8873832 0.861662,0.8873832 0.488703,0 0.861662,-0.3729582 0.861662,-0.8873832 0,-0.5272856 -0.372959,-0.9002437 -0.861662,-0.9002437 z m 0.733055,9.6969119 0,-6.8418532 -1.466111,0 0,6.8418532 1.466111,0 z" />
     <path d="m 77.284964,8.6849668 c -1.157457,0 -2.031979,0.41154 -2.520683,1.3632262 l 0,-1.3117842 -1.478972,0 0,6.8418532 1.478972,0 0,-3.639557 c 0.102885,-1.067432 0.810219,-1.85193 1.941954,-1.864791 1.028851,0 1.646161,0.630171 1.646161,1.659021 l 0,3.845327 1.478971,0 0,-4.256867 c 0,-1.6333002 -0.951686,-2.6364282 -2.546403,-2.6364282 z" />
     <path d="m 84.642046,8.6849668 c -2.031978,0.01286 -3.459508,1.4146682 -3.459508,3.4852292 0,2.0577 1.388948,3.459508 3.49809,3.459508 1.183178,0 2.160585,-0.4244 2.829338,-1.157456 l -0.784498,-0.835941 c -0.501565,0.514425 -1.183178,0.797359 -1.929094,0.797359 -1.080293,0 -1.890512,-0.655892 -2.122003,-1.710463 l 5.169971,0 C 88.024391,10.253963 87.046983,8.6849668 84.642046,8.6849668 Z M 82.64865,11.64291 c 0.167188,-1.093153 0.925965,-1.7747662 2.006257,-1.7747662 1.118874,0 1.85193,0.6687532 1.903373,1.7747662 l -3.90963,0 z" />
</svg>
  </div>
  <article class="markdown-body">
    <%= body %>
  </article>
</body>
